@font-face {
    font-family: 'HelveticaNeueCyrThin';
    src: url('../fonts/HelveticaNeueCyrThin/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/HelveticaNeueCyrThin/helveticaneuecyr-thin-webfont.woff') format('woff'),
    url('../fonts/HelveticaNeueCyrThin/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyrThin/helveticaneuecyr-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    font-size:12px;
    line-height:16px;
    background: transparent url('../images/background.gif') 0 0;
    font-family: arial,tahoma,verdana,sans-serif;
    color:#555;
}

a {
    color:#555;
}

h1 {
    font-family: 'HelveticaNeueCyrThin';
    font-size:26px;
    font-weight:normal;
    margin-bottom:18px;
    text-shadow: 0px 1px 1px #fff;
}

div.clear {
    line-height:0;
    height:0;
    font-size:0;
    clear:both;
}

#carcas {
    background: transparent url('../images/background-grad-top.png') repeat-x 0 0;
    padding-top:20px;
}

div.wrapper {
    width:836px;
    margin:0 auto;
}

div.header {
    margin-bottom:20px;
}

/*search block*/
div.search {
    float:right;
    padding-left:8px;
    background: transparent url('../images/search-background-left.png') no-repeat 0 0;
    margin-top:32px;
}

div.search div {
    float:none;
    padding:0 7px 0 0;
    background: transparent url('../images/search-background-right.png') no-repeat right 0;
}

div.search div div {
    background: transparent url('../images/search-background-center.png') repeat-x 0 0;
    padding:0;
    position:relative;
}

div.search div div input {
    width:100px;
    border:0 solid #fff;
    padding:1px 0 1px 19px;
    height: 22px;
    color:#fff;
    background: transparent;
}

div.search i.search-loupe {
    position:absolute;
    width:17px;
    height:13px;
    background: transparent url('../images/loupe.gif') no-repeat 0 center;
    left:0;
    top:6px;
}


/*lenta carousel*/
div.lenta {
    font-size:0;
    margin-bottom:20px;
}

div.lenta-carousel {
    padding:5px 0 5px 2px;
    height:36px;
    background: transparent url('../images/lenta-background-center.gif') repeat-x 0 0;
}

#lenta-left,
#lenta-right,
div.lenta-carousel {
    display: -moz-inline-stack;
    display:inline-block;
    zoom: 1;
    *display: inline;
    vertical-align:top;
    width:776px;
    position:relative;
    cursor:pointer;
}

#lenta-left {
    background:transparent url('../images/lenta-background-left.png') no-repeat 0 0;
    height:46px;
    width:29px;
}

#lenta-left div,
#lenta-right div {
    position:absolute;
    width:11px;
    height:17px;
    top:14px;
}

#lenta-left div {
    background: transparent url('../images/lenta-navigation-left.gif') no-repeat 0 0;
    left:9px;
}

#lenta-right div {
    background: transparent url('../images/lenta-navigation-right.gif') no-repeat 0 0;
    right:9px;
}

#lenta-right {
    background:transparent url('../images/lenta-background-right.png') no-repeat 0 0;
    height:46px;
    width:29px;
}

#lenta-list li {
    float:left;
    width:89px;
    height:36px;
    margin-right:2px;
    padding:0 3px;
    background-color:#fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size:9px;
    line-height:12px;
    color:#555;
}

#lenta-list li p {
    padding:0 2px;
    font-weight:bold;
    line-height:11px;
}

#lenta-list li p.lenta-item-date {
    border-bottom:1px solid #e1e1e1;
    font-weight:normal;
    line-height:12px;
}

div.lenta-categories {
    position:relative;
    top:2px;
    z-index:1;
    margin-left:30px;
}

div.lenta-categories ul li {
    float:left;
    margin-right:20px;
    padding-top:2px;
}

div.lenta-categories ul li.active {
    padding-top:0;
}

div.lenta-categories ul li.active div {
    padding-left:5px;
    background:transparent url('../images/lenta-categories-left.gif') no-repeat 0 0;
}

div.lenta-categories ul li.active div div {
    padding:0 5px 0 0;
    background:transparent url('../images/lenta-categories-right.gif') no-repeat right 0;
}

div.lenta-categories ul li.active div div div {
    padding:2px 3px;
    background:transparent url('../images/lenta-categories-center.gif') repeat-x 0 0;
    height:17px;
}

div.lenta-categories a {
    text-decoration:none;
    font-size:12px;
    text-shadow: 0px 1px 1px #fff;
}


/*content block*/
div.content {
    margin-left:-4px;
    width:844px;
}

div.content-top {
    padding-left:15px;
    background:url('../images/content-left-top.png') no-repeat 0 0;
}

div.content-top div {
    padding:0 15px 0 0;
    background:url('../images/content-right-top.png') no-repeat right 0;
}

div.content-top div div {
    padding:0;
    background:url('../images/content-center-top.png') repeat-x 0 0;
    height:14px;
}

div.content-bottom {
    padding-left:15px;
    background:url('../images/content-left-bottom.png') no-repeat 0 0;
}

div.content-bottom div {
    padding:0 15px 0 0;
    background:url('../images/content-right-bottom.png') no-repeat right 0;
}

div.content-bottom div div {
    padding:0;
    background:url('../images/content-center-bottom.png') repeat-x 0 0;
    height:19px;
}

div.content-middle {
    padding-left:15px;
    background:url('../images/content-left-middle.png') repeat-y 0 0;
}

div.content-middle div.content-middle-right {
    padding:0 15px 0 0;
    background:url('../images/content-right-middle.png') repeat-y right 0;
}

div.content-middle div.content-middle-center {
    padding:0;
    background:#ebebeb;
}
div.content-middle div.content-wrapper {
    padding:5px 19px;
    font-size:0;
}

div.col1,
div.col2 {
    display: -moz-inline-stack;
    display:inline-block;
    zoom: 1;
    *display: inline;
    vertical-align:top;
    font-size:12px;
}

div.col1 {
    width:611px;
}

div.col2 {
    width:165px;
}

div.bets-list-top {
    padding-left:6px;
    background:url('../images/whitebox-left-top.gif') no-repeat 0 0;
}

div.bets-list-top div {
    padding:0 6px 0 0;
    background:url('../images/whitebox-right-top.gif') no-repeat right 0;
}

div.bets-list-top div div {
    padding:0;
    height:6px;
    background:url('../images/whitebox-center-top.gif') repeat-x 0 0;
}

div.bets-list-bottom {
    padding-left:7px;
    background:url('../images/whitebox-left-bottom.gif') no-repeat 0 0;
}

div.bets-list-bottom div {
    padding:0 7px 0 0;
    background:url('../images/whitebox-right-bottom.gif') no-repeat right 0;
}

div.bets-list-bottom div div {
    padding:0;
    height:7px;
    background:url('../images/whitebox-center-bottom.gif') repeat-x 0 0;
}

div.bets-list-middle {
    border-left:1px solid #d7d7d7;
    border-right:1px solid #d7d7d7;
    background-color:#f9f9f9;
    padding:30px;
}


/*bet-item*/
div.bet-items-wrap {
    margin-bottom:35px;
}

div.bet-items-wrap.last {
    margin:0;
}

div.bet-item {
    margin-bottom:2px;
    font-size:15px;
    cursor:pointer;
}

div.bet-item-top {
    padding-left:3px;
    background:url('../images/bet-left-top.gif') no-repeat 0 0;
}

div.bet-item-top div {
    padding-left:0 3px 0 0;
    background:url('../images/bet-right-top.gif') no-repeat right 0;
}

div.bet-item-top div div {
    padding-left:0;
    height:3px;
    background-color:#fff;
}

div.bet-item-bottom {
    padding-left:3px;
    background:url('../images/bet-left-bottom.gif') no-repeat 0 0;
}

div.bet-item-bottom div {
    padding:0 3px 0 0;
    background:url('../images/bet-right-bottom.gif') no-repeat right 0;
}

div.bet-item-bottom div div {
    padding-left:0;
    height:4px;
    background-color:#fff;
    background:url('../images/bet-center-bottom.gif') repeat-x 0 0;
}

div.bet-item-middle {
    padding:6px 20px 6px 20px;
    border-left:1px solid #efefef;
    border-right:1px solid #efefef;
    background-color:#fff;
}

div.bet-vs {
    width:20px;
    margin:0 auto;
    text-align:center;
}
div.bet-item-time {
    width:50px;
    float:left;
    margin-left:5px;
}

div.bet-item-title {
    width:400px;
    margin:0 auto;
}

div.bet-item-more {
    width:17px;
    height:11px;
    margin-top:3px;
    background:url(../images/bet-more.gif) no-repeat 0 0;
    float:right;
}

div.bet-left-team {
    width:180px;
    float:left;
    text-align:right;
}
div.bet-right-team {
    float:right;
    width:180px;
}

div.bet-content {
    display:none;
}

div
/*date*/
div.date {
    float:left;
    width:64px;
    padding-top:12px;
    height:46px;
    margin-left:-81px;
    background:url('../images/date.png') no-repeat 0 0;
    font-size:26px;
    font-weight:bold;
    text-align:center;
    text-shadow:0 1px 1px #fff;
}

div.date p {
    font-size:12px;
    font-weight:normal;
    line-height:20px;
}



/*menu categories*/
#menu-categories {
    margin:30px 0 0 -1px;
}

div.menu-item {
    padding:12px 20px;
}

div.menu-item a {
    text-decoration:none;
}

div.active.menu-item {
    padding:0;
}

div.active div.menu-item-top {
    padding:0 6px 0 0;
    background:url('../images/whitebox-right-top.gif') no-repeat right 0;
}

div.active div.menu-item-top div {
    padding:0;
    height:6px;
    background:url('../images/whitebox-center-top.gif') repeat-x 0 0;
}

div.active div.menu-item-bottom {
    padding:0 7px 0 0;
    background:url('../images/whitebox-right-bottom.gif') no-repeat right 0;
}

div.active div.menu-item-bottom div {
    padding:0;
    height:7px;
    background:url('../images/whitebox-center-bottom.gif') repeat-x 0 0;
}

div.menu-item-middle {
    cursor:pointer;
}

div.active div.menu-item-middle {
    background-color:#f9f9f9;
    border-right:1px solid #d7d7d7;
    font-size:16px;
    padding:10px 0 10px 20px;
}

div.menu-subitem {
    display:none;
}

div.active div.menu-subitem {
    padding-right:5px;
}

div.active div.menu-subitem-bottom {
    padding:0 7px 0 0;
    background:url('../images/submenu-right-bottom.gif') no-repeat right 0;
}

div.active div.menu-subitem-bottom div {
    padding:0;
    height:7px;
    background:url('../images/submenu-center-bottom.gif') repeat-x 0 0;
}

div.menu-subitem-middle {
    cursor:pointer;
}

div.active div.menu-subitem-middle {
    background-color:#e1e1e1;
    border-right:1px solid #d7d7d7;
    padding:10px 0 5px 20px;
}

div.active div.menu-subitem-middle div {
    margin-bottom:12px;
}

div.active div.menu-subitem-middle div.last {
    margin:0;
}

div.active div.menu-subitem-middle div a {
    text-shadow:0 1px 1px #fff;
}

div.active div.menu-subitem-middle div.active a {
    color:#000;
}

