<div class="events">
  <div class="events-content">
    <div class="events-content-top"><div><div></div></div></div>
    <div class="events-content-body">
      <div class="event-group" ng-repeat="events_date in getDatesFromCmapionshipEvents();">
        <div class="event-group-date">
          <p>{{events_date | date:'d'}}</p>
          <p>{{events_date | date:'MMMM'}}</p>
        </div>
        <div id="event-{{event.id}}" class="event" ng-repeat="event in getEventsChampionshipByEventDate(events_date);">
          <div class="event-title" slide-toggle>
            <div class="event-part">
              <div class="event-date">{{event.date_event | date:'HH:mm'}}</div>{{ event.opponent_1}}</div>
            <div class="event-border">&mdash;</div>
            <div class="event-part">{{ event.opponent_2 }}<div class="event-show-full"></div></div>
          </div>
          <div class="tabs slideable" ng-controller="Coefficients" tabs>
            <div class="tabs-title">
              <div class="tab-title-item tab-title-item-1"><div><div>Коэффициенты</div></div></div>
              <div class="tab-title-item tab-title-item-2"><div><div>Фора/Тотал</div></div></div>
              <div class="tab-title-item tab-title-item-3"><div><div>График</div></div></div>
            </div>
            <div class="tab-content">
              <table>
                <tr>
                  <th>Букмекеры</th>
                  <th>1</th>
                  <th>x</th>
                  <th>2</th>
                  <th>1x</th>
                  <th>12</th>
                  <th>x2</th>
                </tr>
                <tr class="odd" ng-repeat="coefficient in getCoefficientsByEventId( event.id );">
                  <td>{{coefficient.bookmaker_name}}</td>
                  <td class="main_coeff">{{coefficient.first}}</td>
                  <td class="main_coeff">{{coefficient.draw}}</td>
                  <td class="main_coeff">{{coefficient.second}}</td>
                  <td class="main_coeff">{{coefficient.first_or_draw}}</td>
                  <td class="main_coeff">{{coefficient.first_or_second}}</td>
                  <td class="main_coeff">{{coefficient.draw_or_second}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-content">
              <table>
                <tr>
                  <th>Букмекеры</th>
                  <th>Фора 1</th>
                  <th>Фора 2</th>
                  <th>Тотал <</th>
                  <th>Тотал ></th>
                </tr>
                <tr class="odd" ng-repeat="coefficient in getCoefficientsByEventId( event.id );">
                  <td>{{coefficient.bookmaker_name}}</td>
                  <td class="opt_coeff">({{coefficient.first_fora}}) {{coefficient.coeff_first_fora}}</td>
                  <td class="opt_coeff">({{coefficient.second_fora}}) {{coefficient.coeff_second_fora}}</td>
                  <td class="opt_coeff">({{coefficient.total_less}}) {{coefficient.coeff_first_total}}</td>
                  <td class="opt_coeff">({{coefficient.total_more}}) {{coefficient.coeff_second_total}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-content">
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="events-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="country-menu">
  <%= render 'layouts/manager_league' %>

  <ul>
    <li class="active">
      <div class="country-menu-item">
        <div class="country-menu-item-top"><div></div></div>
        <div class="country-menu-item-body">
          {{ getCountryName() }}
        </div>
        <div class="country-menu-item-bottom"><div></div></div>
      </div>
      <div class="country-submenu">
        <div class="country-submenu-body">
          <ul>
            <li ng-repeat="champship in getChampionshipsBySportAndCountry()" ng-class="{ active: getActiveChampionship().id === champship.id }" ng-click="select(champship);">
              <a href="/#/sport/{{getActiveSport().id}}/country/{{getActiveCountry().id}}/championship/{{champship.id}}/events">{{ champship.name }}</a>
            </li>
          </ul>
        </div>
        <div class="country-submenu-bottom"><div></div></div>
      </div>
    </li>
  </ul>
  <div class="event-menu-top"><div></div></div>
</div>