<div class="events">
  <div class="events-content">
    <div class="events-content-top"><div><div></div></div></div>
    <div class="events-content-body">
      <div class="event-group" ng-repeat="events_date in getDatesFromCmapionshipEvents();">
        <div class="event-group-date">
          <p>{{events_date | date:'d'}}</p>
          <p>{{events_date | date:'MMMM'}}</p>
        </div>
        <div id="event-{{event.id}}" class="event" ng-repeat="event in getEventsChampionshipByEventDate(events_date);">
          <div class="event-title" ng-click="toggle(event);">
            <div class="event-part">
              <div class="event-date">{{event.date_event | date:'HH:mm'}}</div>{{ event.opponent_1}}</div>
            <div class="event-border">&mdash;</div>
            <div class="event-part">{{ event.opponent_2 }}<div class="event-show-full"></div></div>
          </div>
          <div class="tabs event-full-content" ng-show="event.isOpened" ng-class="{ 'event-fade-in': event.isOpened }" ng-controller="Coefficients">
            <div class="tabs-title">
              <div class="tab-title-item tab-title-item-1 active"><div><div>Коэффициенты</div></div></div>
              <div class="tab-title-item tab-title-item-2"><div><div>График</div></div></div>
            </div>
            <div class="tab-content">
              <table>
                <tr>
                  <th>Букмекеры</th>
                  <th>1</th>
                  <th>x</th>
                  <th>2</th>
                  <th>1x</th>
                  <th>12</th>
                  <th>x2</th>
                  <th>Фора 1</th>
                  <th>Фора 2</th>
                  <th>Тотал (меньше)</th>
                  <th>Тотал (больше)</th>
                </tr>
                <tr class="odd" ng-repeat="coefficient in getCoefficientsByEventId( event.id );">
                  <td class="td1">{{coefficient.bookmaker_name}}</td>
                  <td class="td2">{{coefficient.first}}</td>
                  <td class="td3">{{coefficient.draw}}</td>
                  <td class="td3">{{coefficient.second}}</td>
                  <td class="td4">{{coefficient.first_or_draw}}</td>
                  <td class="td2">{{coefficient.first_or_second}}</td>
                  <td class="td3">{{coefficient.draw_or_second}}</td>
                  <td class="td4">({{coefficient.first_fora}}) {{coefficient.coeff_first_fora}}</td>
                  <td class="td4">({{coefficient.second_fora}}) {{coefficient.coeff_second_fora}}</td>
                  <td class="td4">({{coefficient.total_less}}) {{coefficient.coeff_total_less}}</td>
                  <td class="td4">({{coefficient.total_more}}) {{coefficient.coeff_total_more}}</td>
                </tr>
              </table>
            </div>
            <div class="tab-content">
            </div>
            <div class="tab-content">
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="events-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="country-menu">
  <ul>
    <li class="active">
      <div class="country-menu-item">
        <div class="country-menu-item-top"><div></div></div>
        <div class="country-menu-item-body">
          {{ getCountryName() }}
        </div>
        <div class="country-menu-item-bottom"><div></div></div>
      </div>
      <div class="country-submenu">
        <div class="country-submenu-body">
          <ul>
            <li ng-repeat="champship in getChampionshipsBySportAndCountry()" ng-class="{ active: getActiveChampionship().id === champship.id }" ng-click="select(champship);">
              <a href="/#/sport/{{getActiveSport().id}}/country/{{getActiveCountry().id}}/championship/{{champship.id}}/events">{{ champship.name }}</a>
            </li>
          </ul>
        </div>
        <div class="country-submenu-bottom"><div></div></div>
      </div>
    </li>
  </ul>
  <div class="event-menu-top"><div></div></div>
</div>