<div class="favorites">
  <div class="favorites-content">
    <div class="favorites-content-top"><div><div></div></div></div>
    <div class="favorites-content-body">
      <div class="tabs">
        <div class="tabs-title">
          <div class="tab-title-item tab-title-item-1 active"><div><div>Избранные матчи</div></div></div>
          <div class="tab-title-item tab-title-item-2"><div><div>1</div></div></div>
          <div class="tab-title-item tab-title-item-3"><div><div>1</div></div></div>
        </div>
        <div class="tab-content">
          <div class="hot-matches">

            <%= render 'layouts/hot_events' %>

          </div>
        </div>
        <div class="tab-content">
        </div>
        <div class="tab-content">
        </div>
      </div>
    </div>
    <div class="favorites-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="optional">
  <%= render 'layouts/manager_league' %>
  <%= render 'layouts/social' %> 
</div>