<div id="loginbox" class="hide" ng-controller="Authorization">
	<div class="loginbox-content-top"><div><div></div></div></div>
	<div class="loginbox-content-body">
		<div class="loginbox-close" ng-click="hideLogin();"></div>
		<p class="loginbox-title">Авторизация</p>
		<form novalidate name="authorization">
			<div class="input-wrap">
				<div><div><div><input type="text" name="login" placeholder="E-mail" ng-model="login" required ></div></div></div>
			</div>
			<div class="input-wrap">
				<div><div><div><input type="password" placeholder="Пароль" name="password" ng-model="password" required min="8"></div></div></div>
			</div>
			<div class="loginbox-remember">
				<p><input type="checkbox" value="1" mg-model="remember_me" name="remember_me" checked="checked" /></p><p>Запомнить меня</span></p>
			</div>
			<p><button ng-click="loginSubmit();" onclick="return false;">Войти</button></p>
		</form>
	</div>
	<div class="loginbox-content-bottom"><div><div></div></div></div>
</div>