<div class="manager-league" ng-controller="ManagerLeague">
  <div class="manager-league-content">
    <div class="manager-league-content-top"><div><div></div></div></div>
    <div class="manager-league-content-body">
      <div class="manager-league-title">Менеджер лиг</div>
      <div class="manager-league-sport">
        <div class="manager-league-sport-title">Футбол</div>
        <div class="manager-league-championships">
          <div class="manager-league-championship">Премьер-лига (Англия)</div>
          <div class="manager-league-championship">Бундеслига (Германия)</div>
          <div class="manager-league-championship">Премьер-лига (Россия)</div>
        </div>
      </div>
      <div class="manager-league-sport">
        <div class="manager-league-sport-title">Хоккей</div>
        <div class="manager-league-championships">
          <div class="manager-league-championship">Премьер-лига (Англия)</div>
          <div class="manager-league-championship">Бундеслига (Германия)</div>
          <div class="manager-league-championship">Премьер-лига (Россия)</div>
        </div>
      </div>
      <div class="manager-league-edit">Редактировать список лиг</div>
    </div>
    <div class="manager-league-content-bottom"><div><div></div></div></div>
  </div>
</div>