<div class="manager-league" ng-controller="ManagerLeague" ng-show="isActive()">
  <div class="manager-league-content">
    <div class="manager-league-content-top"><div><div></div></div></div>
    <div class="manager-league-content-body">
      <div class="manager-league-title">Менеджер лиг</div>
      <div class="manager-league-sport" ng-repeat="sport in getSportsManagedChampionships()" ng-click="toggle(sport);">
        <div class="manager-league-sport-title">{{sport.name}}</div>
        <div class="manager-league-championships" ng-class="{ 'league-fade-in': sport.id === active_sport.id }">
          <div class="manager-league-championship" ng-repeat="championship in getManagedChampionshipsBySport(sport)">
            <a href="/#/sport/{{sport.id}}/country/{{getCountryByChampionship(championship).id}}/championship/{{championship.id}}/events">{{championship.name}} ({{getCountryByChampionship(championship).name}})</a>
          </div>
        </div>
      </div>
      <div class="manager-league-edit">Редактировать список лиг</div>
    </div>
    <div class="manager-league-content-bottom"><div><div></div></div></div>
  </div>
</div>