<div class="manager-league">
  <div class="manager-league-content">
    <div class="manager-league-content-top"><div><div></div></div></div>
    <div class="manager-league-content-body">
      <div>Менеджер лиг</div>
    </div>
    <div class="manager-league-content-bottom"><div><div></div></div></div>
  </div>
</div>