<div class="favorites">
  <div class="favorites-content">
    <div class="favorites-content-top"><div><div></div></div></div>
    <div class="favorites-content-body">
      <p style="font-size: 25px; margin-bottom: 20px;">Выбранной страны или чемпионата у нас нет</p>
      <p>Попробуйте выбрать чемпионат в меню выше</p>
      
    </div>
    <div class="favorites-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="optional">
  <%= render 'layouts/manager_league' %>
  <%= render 'layouts/bookmaker_rating' %>
  <%= render 'layouts/social' %> 
</div>