<!DOCTYPE html>
<html>
<head>
  <title>Betlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="carcas">
		<div class="header">
			<div class="navigation">
				<a href="/">Войти</a> или <a href="/">Зарегистрироваться</a>
			</div>
			<div class="logo"><a href="/"><img src="assets/logo.png" title="Betlog" /></a></div>
			<div class="search">
				<div class="lupa"></div>
				<div class="input-wrap">
					<div><div><div><input type="text" placeholder="Поиск..." /></div></div></div>
				</div>
			</div>
			<div class="pastevents">
				<div class="pastevents-menu">
					<div class="pastevents-menu-item active"><div><div>Футбол</div></div></div>
					<div class="pastevents-menu-item"><div><div>Футбол</div></div></div>
					<div class="pastevents-menu-item"><div><div>Футбол</div></div></div>
					<div class="pastevents-menu-item"><div><div>Футбол</div></div></div>
					<div class="pastevents-menu-item"><div><div>Футбол</div></div></div>
				</div>
				<div class="pastevents-items"><div><div>
					<ul class="pastevents-items-carousel">
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li><div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li><div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li><div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li><div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
						<li>
							<div class="pastevents-item">
								<p class="pastevents-item-date">15:00</p>
								<p class="pastevents-item-team">Спартак<span>3</span></p>
								<p class="pastevents-item-team">Локомотив<span>0</span></p>
							</div>
						</li>
					</ul>
				</div></div></div>
			</div>
		</div>
		<div class="content">
			<div class="content-top"><div><div></div></div></div>
			<div class="content-body">
				<div class="events">
					<h1>События</h1>
					<div class="events-content">
						<div class="events-content-top"><div><div></div></div></div>
						<div class="events-content-body">
							<div class="event-group">
								<div class="event">
									<div class="event-title">
										<div class="event-part">
											<div class="event-date">15:00</div>Польша</div>
										<div class="event-border">&mdash;</div>
										<div class="event-part">Германия<div class="event-show-full"></div></div>
									</div>
								</div>
								<div class="event">
									<div class="event-title">
										<div class="event-part">
											<div class="event-date">15:00</div>Польша</div>
										<div class="event-border">&mdash;</div>
										<div class="event-part">Германия<div class="event-show-full"></div></div>
									</div>
								</div>
							</div>
						</div>
						<div class="events-content-bottom"><div><div></div></div></div>
					</div>
				</div>
				<div class="events-menu">
				</div>
			</div>
			<%= yield %>
			<div class="content-bottom"><div><div></div></div></div>
		</div>
		<div class="footer">
		</div>
	</div>
</body>
</html>
